/*-------------------------------------
           [ INDEX LOG-IN MODS ]
________________________________________*/

body {
    background-color: #3d3d3d !important;
    background-image: url('./img/_MG_5080_lr-2.jpg') !important;
    background-size: cover !important;
    /*background-blend-mode: overlay;	*/
}


/*#login h1 a {
	visibility: collapse;
	position: absolute;
	content: "src";
}*/

#login {
    padding-top: 5%
}

#login h1 a,
.login h1 a {
    animation: rotation 120s 0s linear infinite;
    background-color: #f9f9f966;
    padding: 10px 10px;
    background-position: 50%;
    border-radius: 50%;
}

@keyframes rotation {
    0% {
        -ms-transform: rotate(0deg)
    }
    100% {
        -ms-transform: rotate(360deg)
    }
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

#login h1 {
    background-color: rgba(0, 0, 0, 0);
    padding: 0 6px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    font-weight: 100;
}

#login h1:after {
    content: "Siciliano Photo";
    font-family: Garamond, 'Times New Roman', serif;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: none;
    font-size: 34px;
    line-height: 40px;
    /*margin-top: 20px;*/
}

#login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 46px;
    background: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 150px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 0px 150px 0px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.4);
}

#login form label {
    color: #bbb
}

#login form p:nth-child(1) {
    border-bottom: 2px solid #e5e5e536;
}

#login form p:nth-child(2) {
    margin-bottom: 30px
}

#login form input[type="password"],
#login input[type="text"] {
    background: #0000;
    color: #eee;
    border: 0px;
    box-shadow: none;
    margin-left: 7px
}

#login form input#user_login.input,
#login form input#user_pass.input {
    width: 85%;
}

#loginform p:nth-child(1)::after {
    font-family: 'FontAwesome' !important;
    content: '\f007' !important;
    color: #fff9 !important;
    /* 	position: relative !important; */
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: 10px;
    float: left
    /* 	position: relative !important; */
}

#login form p label:nth-of-type(1n+1),
#login form .user-pass-wrap label {
    display: none
}

#loginform .wp-pwd::after {
    font-family: 'FontAwesome';
    content: '\f023';
    color: #fff9 !important;
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

#login form p:nth-child(3n+3) label::after {
    display: none
}

.dashicons-visibility::before {
    color: #fff9 !important;
}

#login form input[type="checkbox"] {
    font-size: 2.5em !important;
    width: 26px;
    height: 26px;
    margin-top: 4px
}

#login form input[type="checkbox"]::before {
    font-size: 1.0em !important;
}

#login #login_error {
    border: 1px solid #dd3d36;
    border-left: 4px solid #dd3d36;
    background: rgba(50, 0, 0, 0.9);
    color: rgba(250, 0, 0, 0.7);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

#login .message {
    border: 1px solid #00a0d2;
    border-left: 4px solid #00a0d2;
    background: rgba(0, 0, 50, 0.7);
    color: rgba(0, 250, 250, 0.7);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

#login .message,
#login #login_error {
    margin-top: 18px;
}

#login {
    text-align: center;
}

#login #backtoblog {
    padding-bottom: 20px
}

.login #backtoblog a,
.login #nav a {
    text-decoration: none;
    color: #99c9ff;
}

#login:after {
    position: relative;
    bottom: -80px;
    content: "© 2016 - inde[x] Web Media Productions";
    color: rgba(250, 250, 250, 1);
    margin-top: 20px;
}

.jetpack-sso-wrap {
    position: absolute;
    visibility: collapse;
}